.leaflet-control-zoom {
  box-shadow: none;
  a.leaflet-control-zoom-in, a.leaflet-control-zoom-out {
    margin-bottom: 4px;
    border-radius: 0;
    background-color: @background-main-color;
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
  }
}

.leaflet-popup {
  .leaflet-popup-close-button {
    display: none;
  }
  .leaflet-popup-content-wrapper {
    border: 2px solid @border-main-color;
    color: @base-color;
  }
  .leaflet-popup-content {
    font-size: 14px;
    margin: 6px 20px;
  }
  .leaflet-popup-tip {
    background-color: @border-main-color;
  }

  .school-popup-link {
    padding-left: 25px;
    color: @blue-dark;

    &:before {
      content: '';
      position: absolute;
      left: 15px;
      top: 2px;
      display: inline-block;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: @info-row-logo-side-size;
      height: @info-row-logo-side-size;
      background-image: url('../images/pencil.svg');
      background-size: 15px;
    }
  }
}
