// The react-router adds active class to a itself, not the wrapping li element.
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.active:hover,
.navbar-default .navbar-nav > li > a.active:focus {
  color: @navbar-default-link-active-color;
  background-color: @navbar-default-link-active-bg;
.navbar{
  .coat-of-arms {
    display: inline-block;
    vertical-align: top;
    height: 40px;
    width: 24px;
    margin-top: -6px;
    margin-right: 10px;
    background: url(../images/helsinki-coat-of-arms-white-big.png) 0 0/contain no-repeat;
  }
}
