.school-page {
  .school-title{
    text-align: center;

    .school-title-box {
      display: inline-block;
      padding: 0 30px 10px 30px;
      border: solid 1px @base-color;
    }
  }
  .school-image-map {
    .row();
    margin-top: 40px;

    .school-image {
      .make-column(8,8);
      background-image: url('../images/default-building.jpg');
      height: @school-image-map-height;
      background-color: rgba(0,0,0,0.03);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  }
  .school-map {
    .make-column(4,4);
    height: @school-image-map-height;
    background-color: @background-main-color;
  }
}
