.school-page {
  .school-title{
    .container();
    text-align: center;

    .school-title-box {
      display: inline-block;
      padding: 0 30px 10px 30px;
      border: solid 1px @base-color;
    }
  }
}
