.search-page {
  header {
    .search-title {
      text-align: center;
      img {
        height: 100px;
        width: 100px;
        margin-right: 20px;
      }
    }
  }

  .search-box {
    position: relative;
    margin-bottom: 30px;
    a.search-button {
      position: absolute;
      right: 0;
      padding: 10px;
      z-index: 1;
      cursor: pointer;
    }
    input.search-bar {
      width: 100%;
      padding: 10px;
      border: 2px solid @base-color;
      color: @base-color;
    }
  }

  .search-load-more {
    text-align: center;
    button {
      .base-button();
      position: relative;
      min-width: 210px;
      min-height: 50px;
    }
  }
}
