.search-page {
  header {
    .search-title {
      text-align: center;
      img {
        height: 100px;
        width: 100px;
        margin-right: 20px;
      }
    }
  }

  .search-box {
    position: relative;
    margin-bottom: 15px;
    a.search-button {
      position: absolute;
      right: 0;
      padding: 10px;
      z-index: 1;
      cursor: pointer;
    }
    input.search-bar {
      width: 100%;
      padding: 10px;
      border: 2px solid @base-color;
      color: @base-color;
    }
  }

  .controls {
    .row();
    .filters {
      .make-column(8, 8);
    }
    .views {
      .make-column(4, 4);
      text-align: right;
      .view-selector {
        .base-button();
        height: @selector-height;
        width: @selector-height;
        padding: 0px;
        margin-left: 10px;
      }
    }
  }

  .search-load-more {
    text-align: center;
    button {
      .base-button();
      position: relative;
      min-width: 210px;
      min-height: 50px;
    }
  }

  .search-grid {
    .school-grid-row {
      .row();
      margin-top: 30px;
      padding-bottom: 40px;
      .school-grid-wrapper {
        .make-column(4, 4);

        .school-grid {
          padding: 10px 2px 0px 2px;
          border-bottom: 1px solid @border-main-color;
          cursor: pointer;
          transition: background-color 0.3s;
          .school-image {
            .school-image-mixin();
            height: 200px;
            margin-top: 10px;
          }
          .school-grid-details-list {
            padding: 5px 15px;
          }

          &:hover {
            background-color: @background-main-color;
            .info-row {
              .info-row.inversed();
            }
          }
        }
      }
    }
  }

  .search-map-view {
    .row();
    margin-top: 20px;

    .search-map-container {
      .make-column(9, 9);
      height: 600px;

      .leaflet-container {
        width: 100%;
        height: 100%;
      }
    }

    .search-map-list-container {
      .make-column(3, 3);
      .loader {
        margin-top: 60px;
      }
    }
  }
}
