// Colors
// ------

@base-color:                       #35455F;
@inversed-color:                   #FFFFFF;
@blue:                             #34b7ca;
@gray:                             #555555;

@background-main-color:            @base-color;
@border-main-color:                @base-color;

// Components
// ----------

@school-image-map-height:          400px;
@school-timeline-info-height:      380px;
@info-row-height:                  50px;

// Bootstrap helsinki theme redefinitions:
// --------------------------------------

@navbar-inverse-bg:                @base-color;
@navbar-inverse-color:             @inversed-color;


// Timeline:
// ---------

@anchor-width-percentage:          16%;
@bar-thickness:                    4px;

@anchor-color:                     @base-color;
@handle-color:                     @base-color;
@handle-background-color:          @inversed-color;
@handle-active-color:              #999999;
@slider-bar-color:                 #999999;
@slider-bar-1-color:               @base-color;

@anchor-color-inversed:            @inversed-color;
@handle-color-inversed:            @inversed-color;
@handle-background-color-inversed: @background-main-color;
@handle-active-color-inversed:     #999999;
@slider-bar-color-inversed:        @inversed-color;
@slider-bar-1-color-inversed:      @inversed-color;


// Search Selectors
// ----------------

@selector-height:                  40px;


// Search Map
// ----------

@search-map-height:                600px;
