// Colors
// ------

@base-color:                       #35455F;
@inversed-color:                   #FFFFFF;
@blue:                             #34b7ca;
@gray:                             #555555;

@background-main-color:            @base-color;
@border-main-color:                @base-color;

// Components
// ----------

@school-image-map-height:          400px;
@school-timeline-info-height:      250px;
@info-row-height:                  50px;

// Bootstrap helsinki theme redefinitions:
// --------------------------------------

@navbar-inverse-bg:                @base-color;
@navbar-inverse-color:             @inversed-color;


// Timeline:
// ---------

@anchor-width-percentage:          16%;
@anchor-color:                     #FFFFFF;
@handle-color:                     #FFFFFF;
@handle-active-color:              #999999;
@slider-bar-color:                 #FFFFFF;


// Search Selectors
// ----------------

@selector-height:                  40px;


// Search Map
// ----------

@search-map-height:                600px;
